<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predictions</title>
    <link href="/static/main_view.css" rel="stylesheet" type="text/css">
</head>
<body>
    <img src="/static/man_question.png", class="background">
    <h1>Take yours riddles</h1>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <form class="riddle_form" id="num", method="POST">
        <label>Insert how much you wanna take:</label><input type="text" name="number" value="Integer">
        <br>
        <button type="submit">Get that</button>
    </form>

    <footer>
        <p align="center"><a href="https://github.com/GorRatsy/"
               target="_blank">Made by Egor Ratushnuk</a></p>
        <p align="center"><a target="_blank">2023</a></p>
    </footer>
</body>
</body>
</html>