<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Added</title>
    <link href="/static/out_view.css" rel="stylesheet" type="text/css">
</head>
<body>
    <img src="/static/man_question.png", class="background">
    <h1>
        <p>Take yours riddles</p>
        <p>Riddles with next IDs were added:</p>
        <p>{{ data }}</p>
        <p><a href="/">Add more riddles</a></p>

    </h1>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <footer>
        <p align="center"><a href="https://github.com/GorRatsy/"
               target="_blank">Made by Egor Ratushnuk</a></p>
        <p align="center"><a target="_blank">2023</a></p>
    </footer>
</body>
</body>
</html>